// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field{
	margin-bottom: 30px;
}
.ride-form{
	margin-top: 30px;
}
.fb-plugin{
	margin-top: 15px;
}
.rider{
	display: inline-block;
}
.rider {
	margin-left: 5px;
	margin-right: 5px;

	.rider-info{
		font-size: 11px;
	}
}

.airport > .btn{
	padding: 20px 36px;
}
.airport{
	margin-top: 10px;
}