<h1>Find a Ride</h1>

<%= link_to "To LAX", airport_rides_path(:id => "1"), :class=> "btn btn-default btn-lg" %>
<%= link_to "From LAX", airport_rides_path(:id => "2"), :class=> "btn btn-default btn-lg"%>
<%= link_to "To Ontario", airport_rides_path(:id => "3"), :class=> "btn btn-default btn-lg" %>
<%= link_to "From Ontario", airport_rides_path(:id => "4"), :class=> "btn btn-default btn-lg"%>