<div class="container container-header">
	<h3 style="display: inline; font-weight: bold">5CRideshare</h3>

	<% if current_user %>
		<a class="btn btn-primary btn-nav" href="/signout" style="float:right">SIGN OUT</a>
	<% else %>
		<a class="btn btn-primary btn-nav" href="/auth/facebook" style="float:right">SIGN IN</a>
	<% end %>
		<%= link_to "NEW RIDE", new_ride_path, {:class=> "btn btn-primary btn-nav", :style=> "float:right"} %>
</div>
