<div class="container container-header">
	<%= link_to(root_url, {:class=>"logo"}) do %> 
	<h3>5CRideshare</h3>
	<% end %> 

	<% if current_user %>
		<a class="btn btn-primary btn-nav" href="/signout" style="float:right">SIGN OUT</a>
	<% else %>
		<%= link_to "SIGN IN", "/auth/facebook?origin=#{request.original_url}", {:class=> "btn btn-primary btn-nav", :style=> "float:right"} %>
	<% end %>
		<%= link_to "NEW RIDE", new_ride_path, {:class=> "btn btn-primary btn-nav", :style=> "float:right"} %>
</div>
